<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<header class="p-3 bg-dark text-white" th:fragment="head">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Главная</a></li>
                <li><a href="/people" class="nav-link px-2 text-white">Читатели</a></li>
                <li><a href="/book" class="nav-link px-2 text-white">Книги</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Искать..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div style="vertical-align: top">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Fio</th>
                <th scope="col">Year Of Born</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${people}">
                <td><a th:href="@{/people/{id}(id=${person.getPersonId()})}" th:text="${person.getPersonId()}">id</a></td>
                <td><a th:href="@{/people/{id}(id=${person.getPersonId()})}" th:text="${person.getPersonFio()}">fio</a></td>
                <td><a th:href="@{/people/{id}(id=${person.getPersonId()})}" th:text="${person.getPersonYearBorn()}">yearOfBorn</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <hr>
        <a href="/people/new">Create new Person</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>