<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-grayish"></i>О проекте
                    </h6>
                    <p>
                        Демо библиотеки, где вы можете создавать/редактировать/удалять читателей,
                        создавать/редактировать/удалять книги, смотреть подробную информацию о читателе или книге, "привязывать" (выдавать)
                        книгу читателю и "отвзявать" (возвращать) книгу.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Технологии
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Spring</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">JDBC</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">PostgreSQL</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Bootstrap</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Меню
                    </h6>
                    <p>
                        <a href="/" class="text-reset">Главная</a>
                    </p>
                    <p>
                        <a href="/people" class="text-reset">Читатели</a>
                    </p>
                    <p>
                        <a href="/book" class="text-reset">Книги</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
                    <p><i class="fas fa-home me-3 text-grayish"></i> Rostov-on-Don, RnD, Russia</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-grayish"></i>
                        sergeiakopovjava@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-grayish"></i> +7 918 539 05 19</p>
                    <p><i class="fas fa-print me-3 text-grayish"></i> +7 904 445 48 19</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://github.com/Arhat161">Arhat161</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->